
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.img {
    width: 100%;
    height: 200px;
}
.flaoting {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: -80px;
    border: 2px solid #FFF;
}
.main {
    background: #F9FAFB;
    width: 100%;
    height: 100vh;
    display: flex;
}
.main .left {
    width: 300px;
    height: 100%;
    background: #fff;
}
.main .right {
    width: calc(100% - 300px);
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}

/* header  */
.main .right header {
    width: 100%;
    padding: 10px;
    background: #fff;
    display: flex;
    justify-content: space-between;
}
.profile img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #E2E8F0;
    padding: 5px;
}

.main .right header form input {
    width: 100%;
    height: 30px;
    padding: 5px;
    outline: none;
    border: 1px solid #E2E8F0;
    border-radius: 5px;
}

.main .right header form {
    width: 600px;
}
.main .right .container {
    width: 95%;
    margin: 15px auto;
    height: auto;
    padding: 15px;
}

.main .right .container h1{
    font-size: 1.8rem;
}

.right .row {
    width: 100%;
    margin-top: 15px;
}

.right .row .button, .form-data .input-container .button {
    padding: 10px;
    border: 0;
    outline: 0;
    width: 100px;
    background: #6C2BD9;
    color: white;
    border-radius: 5px;
    font-weight: 600;
}

.input-container input {
    margin-top: 5px;
    color: red;
}

/* form  */
.main .right .form-data {
    width: 100%;
    padding: 16px;
    background: #fff;
    margin-top: 10px;
    border-radius: 10px;
}
.main .right .form-data .input-container {
    margin: 12px 0;
}
.main .right .form-data input, .main .right .form-data textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border-radius: 8px;
    border: 1px solid #E2E8F0;
}

#open , #close{
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    display: none;
}

#open i, #close i {
    font-size: 1.6rem;
}

/* table  */
.main .right .table-data {
    width: 100%;
    height: auto;
    padding: 15px;
    background: #fff;
    margin-top: 12px;
    border-radius: 10px;
}

.main .right .table-data table  {
    width: 100%;
    border-collapse: collapse;
}
.main .right .table-data table th, .main .right .table-data table td {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #E2E8F0;
}

.main .right .table-data table tbody tr:hover {
    background: #E2E8F0;
    cursor: pointer;
}

.main .right .table-data table tbody a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    max-width: 0 5px;
}
.btn-delete {
    color: red;
}

.btn-edith {
    color: #6C2BD9;
}

/* /menu  */

.left .logo {
    width: 100%;
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
}
.logo a {
    margin-left: 10px;
}
.left .logo a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
}
.left .logo a span{
    color: #6C2BD9;
}

.left ul {
    padding: 0 25px;
}
.left ul li {
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
}
.left ul li i {
    margin-right: 15px;
}
.left ul li a {
    font-weight: 500;
    text-decoration: none;
    font-size: 1rem;
}

/* Hide elemets */
#form-data {
    display: none;
}


/* media qyery  */

@media (max-width:1100px) {
    .main .right header form {
        width: 400px;
    }
    .main .left {
        width: 250px;
    }
    .main .right {
        width: calc(100% - 250px);
    }
}

@media (max-width:770px) {
    .main .right header form {
        width: 300px;
    }
    .main .left {
        width: 180px;
    }
    .main .right {
        width: calc(100% - 180px);
    }
    .left .logo a {
        font-size: 1rem;
    }
    .left ul li a {
        font-weight: normal;
        font-size: 1rem;
    }
    .main .right .container h1 {
        font-size: 1.4rem;
    }
    .right .row .button, .form-data .input-container .button {
        font-weight: 400;
        padding: 5px
    }

}

@media (max-width:600px) {
    .main .left {
        display: none;
    }
    .main .right {
        width: 100%;
    }
    .main .right .table-data {
        max-width: 100%;
        overflow-x: auto;
    }
    .main .right .table-data table td, .main .right .table-data table th {
        font-size: 15px;
    }
    #open {
        display: block;
        margin-right: 10px;
    }
    .main .right header form {
        display: flex;
        align-items: center;

    }
}